

{% extends 'base.html.twig' %}

{% block meta %}
    <meta http-equiv="refresh" content="5">
{% endblock %}

{% block body %}
        <div class="col-lg-12" >
            <div class="card text-center">
                <div class="card-header">
                    Service Departament Screen
                </div>
                    <div class="card-body row justify-content-center">

                        <h2 class="card-text">Current time : {{ "now"|date("H:i") }}</h2>

                        <div class="row justify-content-center">

                            {#One specialist 5 appointments#}
    {#                        {{ specialists[1].code }}#}
                            {% for specialist in specialists %}
                                <h5 class="card-title">Current queue with specialist : {{ specialist.code }}</h5>

                                {% if reservationRepo.findAllBegunReservationBySpecialist(specialist) %}
                                    {% for reservation in reservationRepo.findAllBegunReservationBySpecialist(specialist) %}
                                        <div class="col-lg-2">
                                            <h3 style="color: #2ca02c">ACTIVE</h3>
                                            <div class="rounded card">
                                                <div class="card-header">
                                                    <h4>Reservation : <b>{{ reservation.code }}</b></h4>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">Specialist : <b>{{ specialist.code }}</b></p>
                                                    <p class="card-text">Customer : <b>{{ reservation.customer.code }}</b></p>
                                                    <p class="card-text">Current visit state : <b>{{ reservation.state }}</b></p>
                                                    <p class="card-text">Starts at : <b>{{ reservation.startTime|format_datetime() }}</b></p>
                                                    <p class="card-text">Ends at : <b>{{ reservation.endTime|format_datetime() }}</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                {% for reservation in reservationRepo.findFiveUpcomingPendingReservationsBySpecialist(specialist) %}
                                    <div class="col-lg-2">
                                        <h3>Queue : #{{ loop.index }}</h3>
                                        <div class="rounded card">
                                            <div class="card-header">
                                                <h4>Reservation : <b>{{ reservation.code }}</b></h4>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text">Specialist : <b>{{ specialist.code }}</b></p>
                                                <p class="card-text">Customer : <b>{{ reservation.customer.code }}</b></p>
                                                <p class="card-text">Current visit state : <b>{{ reservation.state }}</b></p>
                                                <p class="card-text">Starts at : <b>{{ reservation.startTime|format_datetime() }}</b></p>
                                                <p class="card-text">Ends at : <b>{{ reservation.endTime|format_datetime() }}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {#One specialist 5 appointments ends here#}
                    </div>
            </div>
        </div>
{% endblock %}